*{
    padding: 0;
    margin: 0;
}
.encabezado{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 1px;
}
.barra{ 
    display: flex;
    align-items: center;
    gap: 30px;
    

}
.barra-ul{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    
    
}
.barra-ul li{
    list-style: none;
    margin-left: 2px;
    margin-right: 2px;
}
.logo img{
    width: 150px;
    border: none;
}
.ingreso{
    display: flex;
    align-items: center;
    margin-right: 5px;
    font-weight: bolder  ;
}
.ingreso-arg{
    width: 40px;
    align-items: center;
}
.ingresar{
    text-decoration: none;
    color: black;
    border: solid black 1px;
    border-radius: 5px;
    padding: 8px;
    margin-left: 8px;
}
.ingreso-img{
    display: flex;
    align-items: center;
    margin-right: 5px;
}
a{
    text-decoration: none;
    color: black;
}
.hero{
    display: flex;
    justify-content: center;
    padding: 10px 120px;

}
.imagen{
    width: 850px;
    margin-left: 500px;
    margin-bottom: 200px;
    padding-bottom: 300px;
    
    
}

.span{
    color: #7253ee;
}
.empezar-ya{
    color: white;
    background-color: #7253ee;
    border-radius: 10px;
    padding: 10px 45px;
    margin-top: 30px
}
.empezar{
    margin-top: 30px;
}
